In [1]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.6
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# mutate_atの引数の指定の仕方を色々試して見る

vars()の中に文字列で列名を入れて見る

In [6]:
iris %>%
    mutate_at(vars("Petal.Length", "Petal.Width"), scale) %>%
    head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         -1.335752    -1.311052   setosa
2 4.9          3.0         -1.335752    -1.311052   setosa
3 4.7          3.2         -1.392399    -1.311052   setosa
4 4.6          3.1         -1.279104    -1.311052   setosa
5 5.0          3.6         -1.335752    -1.311052   setosa
6 5.4          3.9         -1.165809    -1.048667   setosa

vars()の中に列の範囲を : で区切って入れて見る

In [7]:
iris %>%
    mutate_at(vars(Petal.Length:Petal.Width), scale) %>%
    head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         -1.335752    -1.311052   setosa
2 4.9          3.0         -1.335752    -1.311052   setosa
3 4.7          3.2         -1.392399    -1.311052   setosa
4 4.6          3.1         -1.279104    -1.311052   setosa
5 5.0          3.6         -1.335752    -1.311052   setosa
6 5.4          3.9         -1.165809    -1.048667   setosa

vars()の中に "Petal"で始まる列を starts_with()を使って指定してみる

In [11]:
iris %>%
    mutate_at(vars(starts_with("Petal")), scale) %>%
    head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         -1.335752    -1.311052   setosa
2 4.9          3.0         -1.335752    -1.311052   setosa
3 4.7          3.2         -1.392399    -1.311052   setosa
4 4.6          3.1         -1.279104    -1.311052   setosa
5 5.0          3.6         -1.335752    -1.311052   setosa
6 5.4          3.9         -1.165809    -1.048667   setosa

適用する関数の引数であることを明示するために、 .funs = を加えみる

In [17]:
iris %>%
    mutate_at(vars(starts_with("Petal")), .funs = scale) %>%
    head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         -1.335752    -1.311052   setosa
2 4.9          3.0         -1.335752    -1.311052   setosa
3 4.7          3.2         -1.392399    -1.311052   setosa
4 4.6          3.1         -1.279104    -1.311052   setosa
5 5.0          3.6         -1.335752    -1.311052   setosa
6 5.4          3.9         -1.165809    -1.048667   setosa

vars()の中で-Species で指定してみる。

In [36]:
iris %>%
    mutate_at(vars(-Species), scale) %>%
    head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 -0.8976739    1.01560199 -1.335752    -1.311052   setosa
2 -1.1392005   -0.13153881 -1.335752    -1.311052   setosa
3 -1.3807271    0.32731751 -1.392399    -1.311052   setosa
4 -1.5014904    0.09788935 -1.279104    -1.311052   setosa
5 -1.0184372    1.24503015 -1.335752    -1.311052   setosa
6 -0.5353840    1.93331463 -1.165809    -1.048667   setosa

"Species"を文字列で指定しても大丈夫みたいだ

In [37]:
iris %>%
    mutate_at(vars(-"Species"), scale) %>%
    head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 -0.8976739    1.01560199 -1.335752    -1.311052   setosa
2 -1.1392005   -0.13153881 -1.335752    -1.311052   setosa
3 -1.3807271    0.32731751 -1.392399    -1.311052   setosa
4 -1.5014904    0.09788935 -1.279104    -1.311052   setosa
5 -1.0184372    1.24503015 -1.335752    -1.311052   setosa
6 -0.5353840    1.93331463 -1.165809    -1.048667   setosa

## mutate_atを使う代わりに、mutateを使う場合は、across()と組み合わせると複数列を選択できる

In [47]:
iris %>%
    mutate(across(c("Sepal.Width", "Petal.Width"), scale)) %>%
    head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1           1.01560199 1.4          -1.311052   setosa
2 4.9          -0.13153881 1.4          -1.311052   setosa
3 4.7           0.32731751 1.3          -1.311052   setosa
4 4.6           0.09788935 1.5          -1.311052   setosa
5 5.0           1.24503015 1.4          -1.311052   setosa
6 5.4           1.93331463 1.7          -1.048667   setosa

## 数値列のみなどの条件で絞る場合は、mutate_ifも使える場合がある

In [50]:
iris %>%
    mutate_if(is.numeric, scale) %>%
    head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 -0.8976739    1.01560199 -1.335752    -1.311052   setosa
2 -1.1392005   -0.13153881 -1.335752    -1.311052   setosa
3 -1.3807271    0.32731751 -1.392399    -1.311052   setosa
4 -1.5014904    0.09788935 -1.279104    -1.311052   setosa
5 -1.0184372    1.24503015 -1.335752    -1.311052   setosa
6 -0.5353840    1.93331463 -1.165809    -1.048667   setosa

## mutateとacrossとwhereを組み合わせて条件に合う列を絞ることもできる

In [57]:
iris %>%
    mutate(across(where(is.numeric), scale)) %>% 
    head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 -0.8976739    1.01560199 -1.335752    -1.311052   setosa
2 -1.1392005   -0.13153881 -1.335752    -1.311052   setosa
3 -1.3807271    0.32731751 -1.392399    -1.311052   setosa
4 -1.5014904    0.09788935 -1.279104    -1.311052   setosa
5 -1.0184372    1.24503015 -1.335752    -1.311052   setosa
6 -0.5353840    1.93331463 -1.165809    -1.048667   setosa